* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*cssreset for small project：*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

div {
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}    

body {
	font: 12px arial;
}

header {
	overflow: hidden;
}

.sp_menu {
	width: 482px;
	margin:19px 0 5px;
	float: right;
	color: #333;
	font-weight: 700;
	font-size: 13px;
}

.mna {
	margin-left: 15px;
}

#more {
	display: inline-block;
	background-color: #38f;
	color: #fff;
	margin: 0 2px 0 19px;
	padding: 3px;
	text-decoration: none;
}

/*main content*/
main {
	text-align: center;
}

#logo {
	width: 270px;
	height: 129px;
}

form {
	margin: 22px auto 0;
	width: 644px;
	text-align: center;
	direction: ltr;
}

input {
	width: 540px;
	height: 36px;
	border: 1px solid #38f;
	border-right: 0;
	font-size: 18px;
}

button {
	width: 100px;
	height: 37px;
	border-width: 0 0 0;
	border-bottom: 1px solid #2d78f4;
	color: #fff;
	background-color: #38f;
	font-size: 15px;
	letter-spacing: 1px; 
	float: right;
}

.space {
	height: 150px;
}

.qrcodeItem {
	text-align: center;
}

.qrcodeText {
	margin: 2px 0 0 5px;
}

/*footer*/
footer {
	margin-top: 20px;
	color: #999;
}
footer p {
	text-align: center;
}

.footer_info a {
	margin-left: 25px;
	color: inherit;
}
 
.footer_licence {
	margin-top: 10px;
}
.footer_licence a {
	color: inherit;
}

#jgweb {
	margin-left: 19px;	
}





















